{% extends "../base.html" %}
{% block content %}

<div class="container">
    <div class="col-sm-9 col-md-9  col-sm-offset-2">
    <ul class="breadcrumb">
        <li>
        <a href="{%url 'accounts:index'%}">タイトル</a>/
        </li>
        <li class=" active">
        アイテム一覧
        </li>
    </ul>
</div>
    <h2 class="text-center">詳細表示</h2>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-secondary float-right" href="{% url 'accounts:index' %}">戻る</a>
        </div>
    </div>
    <!--  -->
    {% include "./item_card.html" %}
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-secondary float-right" href="{% url 'accounts:index' %}">戻る</a>
        </div>
    </div>
</div>
{% endblock %}